@media (max-width: 768px) {
    #showcase, #pricing {
        flex-direction: column;
    }

    .feature, .product {
        width: 80%;
        margin: 10px auto;
    }

    iframe#video {
        width: 100%;
        height: auto;
    }

    #email {
        width: 80%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #ffffff;
    color: #333;
    padding: 5px 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-bar {
    display: flex;
    gap: 20px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: rgb(252, 191, 23);
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upper-section {
    text-align: center;
    margin-bottom: 20px;
}

#submit {
    background: rgb(252, 191, 23);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#email {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#showcase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

.feature {
    background: #fff;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    width: 30%;
    height: 300px;
}

iframe#video {
    width: 80%;
    height: 315px;
    margin: 20px auto;
    border-radius: 5px;
}

#pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
}

.product {
    font-weight: bold;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 30%;
    height: 400px;
    text-align: left;
    padding-bottom: 20px;
}

.prod-img {
    width: 100%;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.prod-desc {
    margin-left: 20px;
}

.btn {
    background: transparent;
    color: rgb(39, 39, 39);
    border: 1px solid rgb(39, 39, 39);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    display: block;
    margin: 0 auto 20px 20px;
}

.btn:hover {
    background: rgb(252, 191, 23);
    color: #fff;
    border: none;
}

footer {
    background: #333;
    color: #fff;
    text-align: right;
    padding: 20px;
    width: 100%;
    margin-top: 100px;
}

ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
    gap: 20px;
}


li a {
    color: #fff;
    text-decoration: none;
}